<html>
<head>
  <title>TOP</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag 'application' %>
</head>
  <body>

    <h2>momoのPORTFOLIO</h2>
  	<table>
  		<tr>
  			<td>
  				<a href="">Profile</a>
  			</td>
  			<td>
  				<a href="">Work</a>
  			</td>
  			<td>
  				<a href="">info</a>
  			</td>
  		</tr>

  	</table>
   
  </body>
</html>
