<html>
<head>
  <title>PROFILE</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag 'ror' %>
</head>
  <body>
    <h2>momoのPROFILE</h2>
   
  </body>
</html>